*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}

html {
    width: 100%;
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

label,
button,
[type=submit] {
    cursor: pointer;
}